<nav class="navbar mat-elevation-z2" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item is-size-3 has-text-weight-semibold">
      Desktop Share
    </div>

    <a (click)="navbarExpand.classList.toggle('is-active')" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div #navbarExpand class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item is-size-6 has-text-weight-semibold has-text-link" routerLink="/">Sharing</a>
      <a class="navbar-item is-size-6 has-text-weight-semibold has-text-link" routerLink="/cast">Cast</a>
      <a class="navbar-item is-size-6 has-text-weight-semibold has-text-link" routerLink="/cast-receiver">Cast Receiver</a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" style="cursor: default">
            <strong>Connected to {{ host }}</strong>
          </a>
          <a class="button is-primary" style="cursor: default" (click)="openInfo()">
            <mat-icon fontIcon="info"></mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>