<nav class="navbar mat-elevation-z2" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <span class="navbar-item is-size-3 has-text-weight-semibold">
        Desktop Share
      </span>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" style="cursor: default">
            <strong>Connected to {{ host }}</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="columns">
  <div class="column">
    <app-file-receiver></app-file-receiver>
  </div>
  <div class="column">
    <app-text-receiver></app-text-receiver>
  </div>
</div>