.is-mouse-hand {
    cursor: default;
}

.is-mouse-link {
    cursor: pointer;
}

.is-loading {
    animation: loading 1s infinite linear;
}

@keyframes loading {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}

.media.media-active {
    height: 500px;
}