<div class="columns p-4">
    <div class="column">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title is-size-4">
                    Receive a Cast
                </p>
                <button class="card-header-icon" aria-label="more options">
                    <mat-icon fontIcon="front_hand"></mat-icon>
                </button>
            </header>
            <div class="card-content">
                <div class="block">
                    <p class="title is-5">Select a stream</p>
                </div>
                <div class="columns">
                    <div class="column is-3">
                        <div class="block">
                            <ul>
                                <li class="is-mouse-link is-size-6" *ngFor="let item of casts" (click)="receiveStream(item)">{{item}}<hr class="dropdown-divider"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column is-9">
                        {{received | json}}
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <a class="card-footer-item is-mouse-hand"><mat-icon class="ml-2 is-loading">autorenew</mat-icon></a>
            </footer>
        </div>
    </div>
</div>