<h1 mat-dialog-title>About Desktop Share</h1>
<div mat-dialog-content>
    <div class="block">
        <h5 class="title is-5 has-text-white">Usage</h5>
        <p>Desktop share is powered by Node.js and Angular and is open source. It transmits data within your local network and does not interact with the cloud nor does your data leave your network.</p>
        <p>Since there is no signing certificate, your data is trasmitted locally using <i>http</i>. Make sure there is no one intercepting your local traffic.</p>
    </div>
    <div class="block">
        <h5 class="title is-5 has-text-white">Terms</h5>
        <p>The developer does not bear any reponsibility for your data, how this utility is used. Continuing to use the application, you agree to bear reponsibility.</p>
    </div>
    <div class="block">
        <h5 class="title is-5 has-text-white">Issues with the app?</h5>
        <p>If you see any issues with the application, you can raise an issue <a class="has-text-info" href="https://github.com/chiragpai/desktop-share/issues" target="_blank">https://github.com/chiragpai/desktop-share/issues</a></p>
    </div>
    <div class="block">
        <h5 class="title is-5 has-text-white">Contribute</h5>
        <p>Plan to contribute? Welcome you to do so with Github. <a class="has-text-info" href="https://github.com/chiragpai/desktop-share" target="_blank">https://github.com/chiragpai/desktop-share</a></p>
    </div>
</div>
<div mat-dialog-actions align="end">
  <button class="button is-info" mat-dialog-close>Close</button>
</div>