<div style="padding: 1rem;">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title is-size-4">
                Send text to computer
            </p>
            <button class="card-header-icon" aria-label="more options" (click)="sendText()">
                <mat-icon fontIcon="send"></mat-icon>
            </button>
        </header>
        <div class="card-content">
            <div class="content">
                <textarea class="textarea" placeholder="Enter text here" rows="10" [(ngModel)]="text"></textarea>
            </div>
        </div>
    </div>
</div>